* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: rgb(128, 184, 128);
  
  }
  
  form {
    font-size: 25px;
    background-color: rgb(255, 239, 239);
    max-width: 500px;
    width: 50%;
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 25px;
    text-align: center;
  
  
  
  }
  
  .title {
    color: rgb(57, 216, 216);
    text-align: center;
  }
  
  p{
    font-size: 25px;
  
  }
  
  .forme {
    background-color: rgb(255, 255, 255);
    width: 55%;
    height: 45px;
    border: 1px solid blue;
    padding: left 10px;
    margin: 10px 0;
    border: none;
  
  }
  
  .forms {
    font-size:15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(90, 47, 47);
    cursor: pointer;
    background-color: #58af95;
    border-radius: 15%;
    width: 55%;
    height: 30px;
    
  
  
  }
  
  .forms:hover {
    align-items: center;
    text-align: center;
    color: blue;
    background-color: yellow;
    transition: 1.5s ease-in-out;
  }
  
  .social-media {
    line-height: 79px;
    color: red;
  
  
      
  }
  
  img {
    width: 100%;
    height: 100%;
  }
  